{% extends 'base.html.twig' %}

{% block title %}Hello BuyNowController!{% endblock %}

{% block body %}
<div class='container border border-info rounded py-5 my-5 text-center'>
  <h2> Account successfully deleted!  </h2>  
</div>
   
{% endblock %}