<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        
        <style>

table, td, th {
    border: 1px solid black;
    text-align: center;
    margin: auto;
}


td {
    padding: 15px;
}
</style>
	</head>
	<body>

    
    <div style='text-align: center; margin: auto; margin-bottom: 20px; border: solid; border-radius: 25px; border-color: red; padding: 20px; font-size: 25px; width: 80%;'>
        <h2>Warning</h2> 
        This message is from my project, it's just a simulation and this order doesn't exist, if you haven't used my site and you see this email, it means someone entered your email into the form. You can just delete this email, nothing will happen to it.

    </div>


		<div style='text-align: center; margin: auto; border: solid; border-radius: 25px; padding: 20px; font-size: 25px; width: 80%;'>
            		
				<h2>
                    Hi
                    {{ name }}
                </h2>
                Verify {{ verify }}
			</div>

	</body>
</html>
