
{% extends 'base.html.twig' %}
{% block title %}Feedback{% endblock %}

{% block body %}
    <div class='container border border-info rounded py-5 my-5 text-center'>
        Thank you for sent feedback!
        <i class="fas fa-smile-beam"></i>
    </div>

{% block javascripts %}
<script type="text/javascript">


</script>
{% endblock %}
{% endblock %}
